{% extends 'backendbase.html.twig' %}

{% block content %}
    <h1>Jobs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Company</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Finished</th>
                <th>Position</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td><a href="{{ path('job_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
                <td>{{ job.company }}</td>
                <td>{% if job.startDate %}{{ job.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if job.endDate %}{{ job.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if job.finished %}Yes{% else %}No{% endif %}</td>
                <td>{{ job.position }}</td>
                <td>{{ job.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('job_show', { 'id': job.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('job_edit', { 'id': job.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('job_new') }}">Create a new job</a>
        </li>
    </ul>
{% endblock %}
