{% extends 'base.html.twig' %}

{% block body %}
    <h1>PortfolioEntry list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Order</th>
                <th>Description</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Finished</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolioEntry in portfolioEntries %}
            <tr>
                <td><a href="{{ path('portfolioentry_show', { 'id': portfolioEntry.id }) }}">{{ portfolioEntry.id }}</a></td>
                <td>{% if portfolioEntry.url %}{{ portfolioEntry.url|join(', ') }}{% endif %}</td>
                <td>{{ portfolioEntry.order }}</td>
                <td>{{ portfolioEntry.description }}</td>
                <td>{% if portfolioEntry.startDate %}{{ portfolioEntry.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if portfolioEntry.endDate %}{{ portfolioEntry.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if portfolioEntry.finished %}Yes{% else %}No{% endif %}</td>
                <td>{% if portfolioEntry.createdAt %}{{ portfolioEntry.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('portfolioentry_show', { 'id': portfolioEntry.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('portfolioentry_edit', { 'id': portfolioEntry.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('portfolioentry_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
