{% extends 'base.html.twig' %}

{% block body %}
    <h1>PortfolioEntry</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ portfolioEntry.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{% if portfolioEntry.url %}{{ portfolioEntry.url|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Order</th>
                <td>{{ portfolioEntry.order }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ portfolioEntry.description }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if portfolioEntry.startDate %}{{ portfolioEntry.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if portfolioEntry.endDate %}{{ portfolioEntry.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Finished</th>
                <td>{% if portfolioEntry.finished %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if portfolioEntry.createdAt %}{{ portfolioEntry.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('portfolioentry_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('portfolioentry_edit', { 'id': portfolioEntry.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
