<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite, ?uglifycss' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <div class="useravatar" hidden>
                            <img alt="" src="{{ asset('bundles/app/img/jorge.png') }}">
                            <span> Jorge Delgado</span>
                        </div>
                    </a>
                </div>
                <div id="nav-main" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav pull-right-sm">
                        {% if ( app.request.getLocale() == 'en') %}
                            <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">{{ 'header.spanish' | trans({}, 'messages') }}</a></li>
                        {% elseif ( app.request.getLocale() == 'es') %}
                            <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">{{ 'header.english' | trans({}, 'messages') }}</a></li>
                        {% endif %}


                        <li><a href="{{ path('homepage') }}">{{ 'header.home' | trans({}, 'messages') }}</a></li>
                        <li><a href={{ path('education') }}>{{ 'header.education' | trans({}, 'messages') }}</a></li>
                        <li><a href={{ path('jobs') }}>{{ 'header.jobs' | trans({}, 'messages') }}</a></li>
                        <li><a href={{ path('portfolio') }}>{{ 'header.portfolio' | trans({}, 'messages') }}</a></li>
                        <li><a href={{ path('contact') }}>{{ 'header.contact' | trans({}, 'messages') }}</a></li>
                        <li><a href={{ path('getpdf') }}>{{ 'header.getpdf' | trans({}, 'messages') }}</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'header.logout' | trans({}, 'messages') }}</a></li>
                        {% endif %}

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container-fluid"> <!-- this is to make it responsive to your screen width-->
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

        <!-- footer -->
        <footer>
            <hr />
            <div class="container">
                <p class="text-right">Copyright &copy; Your Company 2014</p>
            </div>
        </footer>
        <!-- /footer -->

        {% block javascripts %}

            {% javascripts  'assets/vendor/jquery/dist/jquery.min.js'
                            'assets/vendor/jquery-lazyload/jquery.lazyload.js'
                            'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
                            '@AppBundle/Resources/public/js/*' filter='?uglifyjs2' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
