{% extends 'base.html.twig' %}

{% block body %}
    <h1>TechSkill list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Version</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for techSkill in techSkills %}
            <tr>
                <td><a href="{{ path('techskill_show', { 'id': techSkill.id }) }}">{{ techSkill.id }}</a></td>
                <td>{{ techSkill.name }}</td>
                <td>{{ techSkill.version }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('techskill_show', { 'id': techSkill.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('techskill_edit', { 'id': techSkill.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('techskill_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
